<h2><%= link_to 'Cadastrar novo usuário', new_user_path %></h2>
<br>
<br>
<br>
<br>
<br>
<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name} (#{user.username})", user %></td>
        <td><%= link_to "Editar", edit_user_path(user) %></td>
        <td><%= link_to "Excluir", user_path(user),
          :method => :delete, :confirm => 'R U sure?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


